.background-rest {
    background: #FCA44B url("../images/restaurante.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    height: 500px;
}

.background-maspop {
    background: #ebebeb;
    width: 100%;
    height: 100%;
    position: relative;
}

.background-hotel {
    background: #FCA44B url("../images/hoteles.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
}

.rest-logo {
    font-family: "Nova Oval";
    font-size: 6em;
}

@media (max-width: 600px) {
    .rest-logo {
        font-size: 4em;
    }
}

.font-rest {
    font-size: 20px;
    margin-right: 60px;
    margin-left: 60px;
}

.buscador {
    margin: 10px 80px;
}

.buscar {
    background: #1c7cc4;
    color: #fff;
    padding: 10px 60px;
    font-size: 18px;
}

.registrar-1 {
    color: #fff;
    font-family: cursive;
}

.img-logo {
    padding: 10px;
}

.cuadro-1 {
    padding: 10px;
}

.font-rest {
    font-family: "Josefin Sans";
    color: #000;
}

.tam-1 {
    font-size: 35px;
}
.btn-search{
    min-height: 50px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN  ******/
.loginmodal-container {
  padding: 30px;
  max-width: 500px;
  width: 100%;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  -webkit-box-shadow: 0 8px 50px 10px #B3B3B3;
  box-shadow: 0 8px 50px 10px #B3B3B3;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}


.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}



.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.background-3 {
  background: #F3F3F4 url("../images/-1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
}

@keyframes mapfront_spin {
  0% {
    background-position: 1400px 0%;
  }
  
  100% {
    background-position: 0 0%;
  }
}

@keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }
  
  100% {
    background-position: 1400px 0%;
  }
}

@-webkit-keyframes mapfront_spin {
  0% {
    background-position: 1400px 0%;
  }
  
  100% {
    background-position: 0 0%;
  }
}

@-webkit-keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }
  
  100% {
    background-position: 1400px 0%;
  }
}

.globo {
  width: 700px;
  height: 700px;
  position: relative;
}
.frontal {
  width: 700px;
  height: 700px;
  background: url("../images/11.png");
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}
.back {
  width: 700px;
  height: 700px;
  background: url("../images/22.png");;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.mapfront, .mapback {
  border-radius: 200px;
  width: 570px;
  height: 530px;
  position: absolute;
  top: 80px;
  left: 70px;
  z-index: 4;
}
.mapfront {
  background: url("../images/33.png") repeat-x;
  -webkit-animation: mapfront_spin 15s linear infinite;
  animation: mapfront_spin 15s linear infinite;
}
.mapback {
  background: url("../images/44.png") repeat-x;
  position: absolute;
  -webkit-animation: mapback_spin 15s linear infinite;
  animation: mapback_spin 15s linear infinite;
}

.img-logo{
  width: 135px;
  
}

.zoom1{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;   
        transform:scale(1);
        -ms-transform:scale(1); // IE 9 
        -moz-transform:scale(1); // Firefox 
        -webkit-transform:scale(1); // Safari and Chrome 
        -o-transform:scale(1); // Opera 
        -webkit-transition: all 500ms ease-in-out; // IE 9
        -moz-transition: all 500ms ease-in-out; // Firefox
        -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
        -o-transition: all 500ms ease-in-out; // Opera       
    }        
    &:hover{
        .zoom1{
            transform:scale(1.2);
            -ms-transform:scale(1.2); // IE 9 
            -moz-transform:scale(1.2); // Firefox 
            -webkit-transform:scale(1.2); // Safari and Chrome 
            -o-transform:scale(1.2); // Opera
        }
    
    }
